# Python Function Practice

## WarmpUp Section

------------------------------------------------------------------------------------------------------
LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

> lesser_of_two_evens(2,4) →  2  
lesser_of_two_evens(2,5) →  5

In [4]:
def lesser_of_two_evens(a,b):

    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

res = lesser_of_two_evens(4,5)
print(res)

5

------------------------------------------------------------------------------------------------------
ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

> animal_crackers('Levelheaded Llama') → True  
animal_crackers('Crazy Kangaroo') → False

In [6]:
string = 'Hello Qallo'

def animal_cracker(text):
  word = text.split()

  if word[0][0].lower() == word[1][0].lower():
    return True
  else:
    return False

animal_cracker(string)

False

------------------------------------------------------------------------------------------------------
MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

> makes_twenty(20,10) → True  
makes_twenty(12,8) → True  
makes_twenty(2,3) → False

In [8]:
def other_side_of_seven(num):

  difference = (abs(num - 7) * 2)

  if num > 7:
    num = 7 - difference
  else:
    num = 7 + difference

  return num

new = other_side_of_seven(12)

print(new)

-3

## Level 1 problems

------------------------------------------------------------------------------------------------------
OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
  
> old_macdonald('macdonald') → MacDonald

In [9]:
string = "macdonalds"

def old_macdonald(name):

  if name != name.capitalize():
    name = name.capitalize()

  new_string = ""

  for index, letter in enumerate(name):
    if index == 3:
      new_string += letter.upper()
    else:
      new_string += letter

  return new_string

name = old_macdonald(string)

print(name)

MacDonalds

------------------------------------------------------------------------------------------------------
MASTER YODA: Given a sentence, return a sentence with the words reversed
  
> master_yoda('I am home') --> 'home am I'  
  master_yoda('We are ready') --> 'ready are We'

In [11]:
string = "I am strong"

def master_yoda(text):
  words = text.split()
  reversed = words[::-1]

  return reversed

rev = master_yoda(string)
print(rev)

['strong', 'am', 'I']

------------------------------------------------------------------------------------------------------
ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
  
> almost_there(90) --> True  
almost_there(104) --> True  
almost_there(150) --> False  
almost_there(209) --> True

In [12]:
def almost_there(num):

  if num in range(90,111) or num in range(190,211):
    return True
  else:
    return False

almost_there(200)

True

## Level 2 Problems

------------------------------------------------------------------------------------------------------
FIND 33: Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
  
> has_33([1, 3, 3]) → True  
has_33([1, 3, 1, 3]) → False  
has_33([3, 1, 3]) → False

In [13]:
def has_33(lists):
  three = 0
  ret = False
  for num in lists:
    if num == 3 and three == 0:
      three = num
    else:
      if three != num:
        three = 0
      else:
        ret = True

  return ret

has_33([1,1,1,12,3,2,3,3])

True

------------------------------------------------------------------------------------------------------
PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
  
> paper_doll('Hello') --> 'HHHeeellllllooo'  
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [14]:
def paper_doll(text):
  triple = ''
  for letter in text:
    letter = letter * 3
    triple += letter

  return triple

triple_word = paper_doll('hello')

print(triple_word)

hhheeellllllooo

------------------------------------------------------------------------------------------------------
BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
  
> blackjack(5,6,7) --> 18  
blackjack(9,9,9) --> 'BUST'  
blackjack(9,9,11) --> 19

In [16]:
def blackjack(a,b,c):
  sum = a + b + c
  print(sum)

  if sum <= 21:
    return sum
  else:
    sum = sum -10

    if sum > 21:
      return 'BUST'

    return sum

blackjack(9,9,15)

33

'BUST'

------------------------------------------------------------------------------------------------------
SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
  
> summer_69([1, 3, 5]) --> 9  
summer_69([4, 5, 6, 7, 8, 9]) --> 9  
summer_69([2, 1, 6, 9, 11]) --> 14

In [17]:
def summer_69(arr):
  sum = 0
  flag = 0

  if arr == 0:
    return 0
  else:
    for num in arr:
      if num == 6 or flag == 1:
        if num == 9:
          flag = 0
        else:
          flag = 1
      else:
        sum += num

  return sum

sum = summer_69([4, 5, 6, 7, 8, 9])
print(sum)

9

## Challenging

------------------------------------------------------------------------------------------------------
SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
  
>  spy_game([1,2,4,0,0,7,5]) --> True  
 spy_game([1,0,2,4,0,5,7]) --> True  
 spy_game([1,7,2,0,4,5,0]) --> False

In [18]:
def spy_game(nums):
  code = [0,0,7]
  idx = 0

  for num in nums:
    if num == code[idx]:
      idx += 1

      if idx == len(code):
        return True

  return False

  print(string)

spy_game([1,2,0,7,0,4,7,0,5])

True

------------------------------------------------------------------------------------------------------
COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
  
> count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [19]:
def count_primes(num):
  count = 0

  for x in range(2,num + 1):
    for y in range(2, int(x ** 0.5) + 1):
      if x % y == 0:
        break

    else:
      count += 1

  return count

counter = count_primes(100)
print(counter)

25

------------------------------------------------------------------------------------------------------
PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
  
print_big('a')  
out:&nbsp;&nbsp;&nbsp;*  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* &nbsp;*  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*****  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* &nbsp;&nbsp;&nbsp;*  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* &nbsp;&nbsp;&nbsp;*

In [20]:
def print_big(letter):
  pattern = {'A':['  *  ',
                  ' * * ',
                  '*****',
                  '*   *',
                  '*   *'],
             'B':['**** ',
                  '*   *',
                  '**** ',
                  '*   *',
                  '**** '],
             'C':[' ****',
                  '*    ',
                  '*    ',
                  '*    ',
                  ' ****']
            }
  letter = letter.upper()
  if letter in pattern:
    for char in pattern[letter]:
      print(char)

print_big('b')

****
*   *
****
*   *
****